<li class="toc-list-item {{#has slug='co-host-a-nook'}}is-active-li{{/has}}">
  <a href="/co-host-a-nook/" class="toc-link {{#has slug='co-host-a-nook'}}is-active-link{{/has}}">Cohost a Nook</a>
</li>
<li class="toc-list-item {{#has slug='co-author-an-article'}}is-active-li{{/has}}">
  <a href="/co-author-an-article/" class="toc-link {{#has slug='co-author-an-article'}}is-active-link{{/has}}">Co-author an article with us</a>
</li>
<li class="toc-list-item {{#has slug='blockchain'}}is-active-li{{/has}}">
  <a href="/blockchain-research-reimagining-nooks-as-daos/" class="toc-link {{#has slug='blockchain'}}is-active-link{{/has}}">BlockChain Research</a>
</li>
