<li class="toc-list-item {{#has slug='playfacilitators'}}is-active-li{{/has}}">
  <a href="/playfacilitators/" class="toc-link {{#has slug='playfacilitators'}}is-active-link{{/has}}">PlayFacilitators</a>
</li>
<li class="toc-list-item {{#has slug='hosting-a-nook'}}is-active-li{{/has}}">
  <a href="/hosting-a-nook/" class="toc-link {{#has slug='hosting-a-nook'}}is-active-link{{/has}}">Hosting a Nook</a>
</li>
<li class="toc-list-item {{#has slug='blockchain-research-reimagining-nooks-as-daos'}}is-active-li{{/has}}">
  <a href="/blockchain-research-reimagining-nooks-as-daos/" class="toc-link {{#has slug='blockchain-research-reimagining-nooks-as-daos'}}is-active-link{{/has}}">BlockChain Research</a>
</li>
