{{!< default}}

<main class="main-content tc mt4" style="padding: 3rem 0;">
    
    <h1>{{statusCode}}</h1>
    <p>{{message}}</p>
    
    <p><a class="error-link" href="{{@site.url}}">{{t "Go to the front page →"}}</a></p>
</main>